body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    background-color:rgb(11, 55, 99);
    color: #ffffff;
    margin: 20px
}
#profileImage { 
    max-width: 200px; /* Setting max image size to 200 */
    border-radius: 4px;
}

#sidebar {
    background-color: #354c64; /* Dark blue background */
    color: #ffffff; /* White text for contrast */
    padding: 20px; /* Add padding inside the sidebar */
    width: 300px; /* Set width of sidebar */
    height: 100%; /* Full height */
}

nav {
    display: flex;
    flex-direction: row; 
}

nav a {
    color: white; /* Default link color */
    text-decoration: none; /* Remove underline from links */
    padding: 10px; /* Add padding for clickable area */
    border-radius: 4px; /* Slightly rounded corners */
    transition: background-color 0.3s ease; /* Smooth background transition */
}

nav a:hover {
    background-color: #34495e; /* Darker shade for hover effect */
    color: #ecf0f1; /* Slightly lighter text color on hover */
}
h1{
    font: size 32pt;
    color:rgb(255, 255, 255); 
    font-weight: bolder;

}

h2 {
    font-size: 26pt;
    color: rgb(222, 222, 222);

}

h3{ 
    font-size: 20pt;
    color:darkgoldenrod; 
    font-weight: normal;
}

p {
    font-size: 14pt;
    color:rgb(230, 240, 249);
    line-height: 1.6;
}

a:link, a:visited {
    color:rgb(200, 137, 55); 
    text-decoration: none; 
}

a:hover{
    color:crimson; 
    text-decoration: underline;
}

a:active{
    color: wheat;
} 

ul{
    list-style-type:square; 
    padding-left:20px;
}

hr {
    margin: 20px 0; 
}

.table-container{
    display:table; 
    width: 100%; 
    margin-top: 20px; 
}
.table-row{
    display: table-row;
}
.table-cell{
    display: table-cell; 
    padding: 10px; 
    border: 1px solid #fff; 
}